ENV=dev

#HTTP
HTTP_RATE_LIMIT_PER_SECOND=10s
HTTP_RATE_LIMIT_REQUESTS_COUNT=5
MAX_USERS=10
TIMEOUT=10s
ALLOW_CONTENT_ENCODING=gzip,identity
ORIGINS=http://localhost:3000"
PORT=3000

#MINIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_SSL=false
MINIO_LOCATION=us-east-1
MINIO_OPERATION_TIMEOUT=5s


#DATABASE
DATABASE_URL=""
DATABASE_OPERATION_TIMEOUT=5s

#WORKERS
WORKERS_WORKER_POOL_MAX=5

#WORKERS_PARSING
WORKERS_PARSING_CONTEXT_TIMEOUT=15s
WORKERS_PARSING_READER_CONTEXT_TIMEOUT=5s

#WORKERS_WRITE_TASKS
WORKERS_WRITE_TASKS_CONTEXT_TIMEOUT=15s
WORKERS_WRITE_TASKS_ERROR_SLEEP=10s