ENV=dev

#http
MAX_USERS=10
TIMEOUT=10s
ALLOW_CONTENT_ENCODING=gzip,identity
ORIGINS=http://localhost:3000"
PORT=3000

#MINIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_SSL=false
MINIO_LOCATION=us-east-1
MINIO_PDF_BUCKET=pdf

#DATABASE
DATABASE_URL=""