ENV=dev

#HTTP
HTTP_RATE_LIMIT_PER_SECOND=10s
HTTP_RATE_LIMIT_REQUESTS_COUNT=5
MAX_USERS=10
TIMEOUT=10s
ALLOW_CONTENT_ENCODING=gzip,identity
ORIGINS=http://localhost:3000"
PORT=3000

#MINIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_SSL=false
MINIO_LOCATION=us-east-1

#DATABASE
DATABASE_URL=""

#WORKERS
WORKERS_CONTEXT_TIMEOUT=5s